.box{
    position: absolute;
    height: 200px;
    width: 200px;
    color: bisque;
}

.box1{
    left: 70px;
    top: 70px;
    background-color: red;
    z-index: 19;
}

.box2{
    top:50px;
    left: 50px;
    background-color: green;
    z-index: 11;
}

.box3{
    left:30px;
    top:30px;
    background-color: blue;
    z-index: 15;
}
